.star-active-true.hovered-1 {
    color: red;
}
.star-active-true.hovered-2 {
    color: orange;
}
.star-active-true.hovered-3 {
    color: yellow;
}
.star-active-true.hovered-4 {
    color: green;
}
.star-active-true.rating-1 {
    color: red;
}
.star-active-true.rating-2 {
    color: orange;
}
.star-active-true.rating-3 {
    color: yellow;
}
.star-active-true.rating-4 {
    color: green;
}