.user-icon {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    text-align: center;
    
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    display: inline-block;
}

.user-icon-initials {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    height: inherit;
    width: inherit;
    font-size: 40px;
}